.form__item {
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: inherit;   
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    width: 100%;
    margin-top: 30px;
}

.form__item:first-of-type {
    margin-top: 54px;
}

@media screen and (max-width: 500px) {
    .form__item:first-of-type {
        margin-top:75px;
    }
}