.profile {
    width: 68.75%;
    display: flex;
    justify-content: space-between;

}

@media screen and (max-width: 950px) {
    .profile  {
        width: 88.125%; 
    }
}

@media screen and (max-width: 735px) {
    .profile  {
        flex-direction: column;
    }
}