.profile__info {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    align-self: center;
}

@media screen and (max-width: 550px) {
    .profile__info  {
            margin-top: 26px;
            padding: 0;
            justify-content: center;
            height: auto;

    }
}